* {
  -webkit-user-select: none;
}
body {
  background: #eeeeee;
}
.d-header {
  background-color: #414141;
  width: 100%;
  height: 60px;
  padding-left: 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 51;
}
.d-header-image {
  line-height: 60px;
  margin-left: 10px;
}
.d-header-image img {
  height: 40px;
}
ul.icons {
  list-style: none;
  padding: 2px 5px 0 0;
  text-align: center;
}
.icons li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 3px;
  vertical-align: middle;
  line-height: 60px;
}
.icons a {
  text-decoration: none;
  color: #ffffff;
}
.icons a :active {
  color: #cecece;
}
.icons a :hover {
  text-decoration: none;
}
.sidebar {
  width: 230px;
  float: left;
  display: block;
  color: #777777;
  position: fixed;
  padding-top: 60px;
}
.sidebar .nav li {
  width: 100%;
}
.sidebar ul.nav li.active {
  background-color: #0072bc;
}
.sidebar ul.nav li.active a {
  color: #ffffff;
  background-color: #0072bc;
}
.sidebar .nav li a {
  color: #000000;
  font-weight: 600;
}
.sidebar .nav li a:hover {
  color: #0072bc;
}
.sidebar .nav li.active a:hover {
  font-weight: bold;
  background-color: #0072bc;
}
.mainbar {
  position: relative;
  margin-left: 230px;
  margin-right: 0px;
  border-left: 1px solid #cecece;
  width: auto;
  z-index: 50;
  padding-top: 70px;
  height: 100%;
}
.mainbar .container {
  max-width: 100% !important;
  width: 100% !important;
}
.quick-tips {
  overflow: hidden;
  padding: 0.5px;
}
.quick-tips > div:first-child {
  height: 276px;
  float: left;
}
.quick-tips > div:first-child ul {
  list-style-type: none;
  padding-left: 0;
}
.quick-tips > div:first-child ul li {
  width: 100px;
  height: 92px;
  background-color: #eb6620;
  border-bottom: solid 1px #ffffff;
  text-align: center;
}
.quick-tips > div:first-child ul li:hover {
  background-color: #c00000;
  cursor: pointer;
}
.quick-tips > div:first-child ul li.active {
  background-color: #c00000;
}
.quick-tips > div:first-child ul li a {
  width: 100px;
  line-height: 92px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
}
.quick-tips > div:last-child {
  background-color: #fff;
  height: 276px;
  width: auto;
  position: relative;
  margin-left: 100px;
}
ul.tips {
  font-size: 17px;
}
ul.tips li {
  margin: 15px;
  padding-left: 13px;
}
ul.tips li:first-child {
  margin-bottom: 17px;
  font-size: 20px;
  margin-left: 5px;
  padding-top: 12px;
}
ul.tips li:first-child span {
  width: 40px;
  height: 40px;
  font-size: 18px;
  background-color: #eb6620;
  color: #ffffff;
}
ul.tips span {
  border: 1px solid #ffffff;
  border-radius: 40px;
  width: 33px;
  height: 33px;
  background-color: #cecece;
  padding: 6px;
  display: inline-block;
  color: #777777;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}
.tips-title {
  color: #eb6620;
  text-shadow: 0px 1px #0B0B0B;
  font-weight: bold;
  font-family: arial;
}
ul.news li {
  margin: 14px;
  padding-left: 13px;
  font-size: 17px;
}
.dash-title {
  text-transform: uppercase;
  margin-left: -15px;
}
.previews {
  margin-top: 10px;
}
.previews > div {
  padding-left: 0;
}
.graph {
  min-height: 293px;
  min-width: 248px;
}
.graph .panel-body {
  min-height: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.filter-input {
  width: 205px;
  margin-top: 13px;
}
.panel-body {
  background-color: #ffffff;
}
.panel-3d {
  box-shadow: 0px 1px 5px;
}
.section-title {
  height: 29px;
  margin-bottom: 10px;
}
.section-title i {
  float: left;
}
.section-title > span {
  font-weight: bold;
  top: -7px;
  color: #000000;
  font-size: 18px;
  left: 45px;
  padding-left: 5px;
  display: inline-block;
}
.section-title > span:last-child {
  top: 14px;
  font-size: 11px;
}
.m-down {
  margin-bottom: 30px;
}
.m-down .panel-body {
  min-height: 320px;
}
.config-table {
  background-color: #ffffff;
}
.padd-0 {
  padding: 0 !important;
}
.file-drop {
  padding: 10px;
  width: 200px;
  text-align: center;
  border: 1px dashed;
}
.file-drop.dragover {
  background-color: #e7aeae;
  color: #ffffff;
  font-weight: bold;
}
.wap-td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fx-lt {
  table-layout: fixed;
}
.widget {
  top: -6px !important;
}
/* http://codepen.io/jo-asakura/pen/stFHi/ */
.pie-wrapper {
  display: block;
  height: 200px;
  position: relative;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.pie-wrapper .pie {
  clip: rect(0, 200px, 200px, 100px);
  height: 200px;
  position: absolute;
  width: 200px;
}
.pie-wrapper .pie .half-circle {
  border: 20px solid #3498db;
  border-radius: 50%;
  clip: rect(0, 100px, 200px, 0);
  height: 200px;
  position: absolute;
  width: 200px;
}
.pie-wrapper .label {
  background: #34495e;
  border-radius: 50%;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 3em;
  height: 160px;
  left: 10%;
  line-height: 3em;
  position: absolute;
  text-align: center;
  top: 10%;
  width: 160px;
}
.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: .45em;
  padding-bottom: 20px;
  vertical-align: super;
}
.pie-wrapper.style-2 .shadow {
  border: 20px solid #bdc3c7;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
.pie-wrapper.style-2 .label {
  background: none;
  color: #7f8c8d;
}
.pie-wrapper.style-2 .label .smaller {
  color: #bdc3c7;
}
.pie-wrapper.progress-1 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-1 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-1 .pie .left-side {
  -webkit-transform: rotate(3.6deg);
  -moz-transform: rotate(3.6deg);
  -ms-transform: rotate(3.6deg);
  -o-transform: rotate(3.6deg);
  transform: rotate(3.6deg);
}
.pie-wrapper.progress-2 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-2 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-2 .pie .left-side {
  -webkit-transform: rotate(7.2deg);
  -moz-transform: rotate(7.2deg);
  -ms-transform: rotate(7.2deg);
  -o-transform: rotate(7.2deg);
  transform: rotate(7.2deg);
}
.pie-wrapper.progress-3 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-3 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-3 .pie .left-side {
  -webkit-transform: rotate(10.8deg);
  -moz-transform: rotate(10.8deg);
  -ms-transform: rotate(10.8deg);
  -o-transform: rotate(10.8deg);
  transform: rotate(10.8deg);
}
.pie-wrapper.progress-4 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-4 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-4 .pie .left-side {
  -webkit-transform: rotate(14.4deg);
  -moz-transform: rotate(14.4deg);
  -ms-transform: rotate(14.4deg);
  -o-transform: rotate(14.4deg);
  transform: rotate(14.4deg);
}
.pie-wrapper.progress-5 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-5 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-5 .pie .left-side {
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  transform: rotate(18deg);
}
.pie-wrapper.progress-6 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-6 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-6 .pie .left-side {
  -webkit-transform: rotate(21.6deg);
  -moz-transform: rotate(21.6deg);
  -ms-transform: rotate(21.6deg);
  -o-transform: rotate(21.6deg);
  transform: rotate(21.6deg);
}
.pie-wrapper.progress-7 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-7 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-7 .pie .left-side {
  -webkit-transform: rotate(25.2deg);
  -moz-transform: rotate(25.2deg);
  -ms-transform: rotate(25.2deg);
  -o-transform: rotate(25.2deg);
  transform: rotate(25.2deg);
}
.pie-wrapper.progress-8 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-8 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-8 .pie .left-side {
  -webkit-transform: rotate(28.8deg);
  -moz-transform: rotate(28.8deg);
  -ms-transform: rotate(28.8deg);
  -o-transform: rotate(28.8deg);
  transform: rotate(28.8deg);
}
.pie-wrapper.progress-9 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-9 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-9 .pie .left-side {
  -webkit-transform: rotate(32.4deg);
  -moz-transform: rotate(32.4deg);
  -ms-transform: rotate(32.4deg);
  -o-transform: rotate(32.4deg);
  transform: rotate(32.4deg);
}
.pie-wrapper.progress-10 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-10 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-10 .pie .left-side {
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);
}
.pie-wrapper.progress-11 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-11 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-11 .pie .left-side {
  -webkit-transform: rotate(39.6deg);
  -moz-transform: rotate(39.6deg);
  -ms-transform: rotate(39.6deg);
  -o-transform: rotate(39.6deg);
  transform: rotate(39.6deg);
}
.pie-wrapper.progress-12 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-12 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-12 .pie .left-side {
  -webkit-transform: rotate(43.2deg);
  -moz-transform: rotate(43.2deg);
  -ms-transform: rotate(43.2deg);
  -o-transform: rotate(43.2deg);
  transform: rotate(43.2deg);
}
.pie-wrapper.progress-13 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-13 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-13 .pie .left-side {
  -webkit-transform: rotate(46.800000000000004deg);
  -moz-transform: rotate(46.800000000000004deg);
  -ms-transform: rotate(46.800000000000004deg);
  -o-transform: rotate(46.800000000000004deg);
  transform: rotate(46.800000000000004deg);
}
.pie-wrapper.progress-14 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-14 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-14 .pie .left-side {
  -webkit-transform: rotate(50.4deg);
  -moz-transform: rotate(50.4deg);
  -ms-transform: rotate(50.4deg);
  -o-transform: rotate(50.4deg);
  transform: rotate(50.4deg);
}
.pie-wrapper.progress-15 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-15 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-15 .pie .left-side {
  -webkit-transform: rotate(54deg);
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  -o-transform: rotate(54deg);
  transform: rotate(54deg);
}
.pie-wrapper.progress-16 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-16 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-16 .pie .left-side {
  -webkit-transform: rotate(57.6deg);
  -moz-transform: rotate(57.6deg);
  -ms-transform: rotate(57.6deg);
  -o-transform: rotate(57.6deg);
  transform: rotate(57.6deg);
}
.pie-wrapper.progress-17 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-17 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-17 .pie .left-side {
  -webkit-transform: rotate(61.2deg);
  -moz-transform: rotate(61.2deg);
  -ms-transform: rotate(61.2deg);
  -o-transform: rotate(61.2deg);
  transform: rotate(61.2deg);
}
.pie-wrapper.progress-18 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-18 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-18 .pie .left-side {
  -webkit-transform: rotate(64.8deg);
  -moz-transform: rotate(64.8deg);
  -ms-transform: rotate(64.8deg);
  -o-transform: rotate(64.8deg);
  transform: rotate(64.8deg);
}
.pie-wrapper.progress-19 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-19 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-19 .pie .left-side {
  -webkit-transform: rotate(68.4deg);
  -moz-transform: rotate(68.4deg);
  -ms-transform: rotate(68.4deg);
  -o-transform: rotate(68.4deg);
  transform: rotate(68.4deg);
}
.pie-wrapper.progress-20 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-20 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-20 .pie .left-side {
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  transform: rotate(72deg);
}
.pie-wrapper.progress-21 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-21 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-21 .pie .left-side {
  -webkit-transform: rotate(75.60000000000001deg);
  -moz-transform: rotate(75.60000000000001deg);
  -ms-transform: rotate(75.60000000000001deg);
  -o-transform: rotate(75.60000000000001deg);
  transform: rotate(75.60000000000001deg);
}
.pie-wrapper.progress-22 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-22 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-22 .pie .left-side {
  -webkit-transform: rotate(79.2deg);
  -moz-transform: rotate(79.2deg);
  -ms-transform: rotate(79.2deg);
  -o-transform: rotate(79.2deg);
  transform: rotate(79.2deg);
}
.pie-wrapper.progress-23 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-23 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-23 .pie .left-side {
  -webkit-transform: rotate(82.8deg);
  -moz-transform: rotate(82.8deg);
  -ms-transform: rotate(82.8deg);
  -o-transform: rotate(82.8deg);
  transform: rotate(82.8deg);
}
.pie-wrapper.progress-24 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-24 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-24 .pie .left-side {
  -webkit-transform: rotate(86.4deg);
  -moz-transform: rotate(86.4deg);
  -ms-transform: rotate(86.4deg);
  -o-transform: rotate(86.4deg);
  transform: rotate(86.4deg);
}
.pie-wrapper.progress-25 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-25 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-25 .pie .left-side {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.pie-wrapper.progress-26 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-26 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-26 .pie .left-side {
  -webkit-transform: rotate(93.60000000000001deg);
  -moz-transform: rotate(93.60000000000001deg);
  -ms-transform: rotate(93.60000000000001deg);
  -o-transform: rotate(93.60000000000001deg);
  transform: rotate(93.60000000000001deg);
}
.pie-wrapper.progress-27 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-27 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-27 .pie .left-side {
  -webkit-transform: rotate(97.2deg);
  -moz-transform: rotate(97.2deg);
  -ms-transform: rotate(97.2deg);
  -o-transform: rotate(97.2deg);
  transform: rotate(97.2deg);
}
.pie-wrapper.progress-28 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-28 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-28 .pie .left-side {
  -webkit-transform: rotate(100.8deg);
  -moz-transform: rotate(100.8deg);
  -ms-transform: rotate(100.8deg);
  -o-transform: rotate(100.8deg);
  transform: rotate(100.8deg);
}
.pie-wrapper.progress-29 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-29 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-29 .pie .left-side {
  -webkit-transform: rotate(104.4deg);
  -moz-transform: rotate(104.4deg);
  -ms-transform: rotate(104.4deg);
  -o-transform: rotate(104.4deg);
  transform: rotate(104.4deg);
}
.pie-wrapper.progress-30 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-30 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-30 .pie .left-side {
  -webkit-transform: rotate(108deg);
  -moz-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  -o-transform: rotate(108deg);
  transform: rotate(108deg);
}
.pie-wrapper.progress-31 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-31 .pie .half-circle {
  border-color: #1abc9c;
}
.pie-wrapper.progress-31 .pie .left-side {
  -webkit-transform: rotate(111.60000000000001deg);
  -moz-transform: rotate(111.60000000000001deg);
  -ms-transform: rotate(111.60000000000001deg);
  -o-transform: rotate(111.60000000000001deg);
  transform: rotate(111.60000000000001deg);
}
.pie-wrapper.progress-32 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-32 .pie .half-circle {
  border-color: #1abc9c;
}
.pie-wrapper.progress-32 .pie .left-side {
  -webkit-transform: rotate(115.2deg);
  -moz-transform: rotate(115.2deg);
  -ms-transform: rotate(115.2deg);
  -o-transform: rotate(115.2deg);
  transform: rotate(115.2deg);
}
.pie-wrapper.progress-33 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-33 .pie .half-circle {
  border-color: #1abc9c;
}
.pie-wrapper.progress-33 .pie .left-side {
  -webkit-transform: rotate(118.8deg);
  -moz-transform: rotate(118.8deg);
  -ms-transform: rotate(118.8deg);
  -o-transform: rotate(118.8deg);
  transform: rotate(118.8deg);
}
.pie-wrapper.progress-34 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-34 .pie .half-circle {
  border-color: #1abc9c;
}
.pie-wrapper.progress-34 .pie .left-side {
  -webkit-transform: rotate(122.4deg);
  -moz-transform: rotate(122.4deg);
  -ms-transform: rotate(122.4deg);
  -o-transform: rotate(122.4deg);
  transform: rotate(122.4deg);
}
.pie-wrapper.progress-35 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-35 .pie .half-circle {
  border-color: #1abc9c;
}
.pie-wrapper.progress-35 .pie .left-side {
  -webkit-transform: rotate(126deg);
  -moz-transform: rotate(126deg);
  -ms-transform: rotate(126deg);
  -o-transform: rotate(126deg);
  transform: rotate(126deg);
}
.pie-wrapper.progress-36 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-36 .pie .half-circle {
  border-color: #1abc9c;
}
.pie-wrapper.progress-36 .pie .left-side {
  -webkit-transform: rotate(129.6deg);
  -moz-transform: rotate(129.6deg);
  -ms-transform: rotate(129.6deg);
  -o-transform: rotate(129.6deg);
  transform: rotate(129.6deg);
}
.pie-wrapper.progress-37 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-37 .pie .half-circle {
  border-color: #1abc9c;
}
.pie-wrapper.progress-37 .pie .left-side {
  -webkit-transform: rotate(133.20000000000002deg);
  -moz-transform: rotate(133.20000000000002deg);
  -ms-transform: rotate(133.20000000000002deg);
  -o-transform: rotate(133.20000000000002deg);
  transform: rotate(133.20000000000002deg);
}
.pie-wrapper.progress-38 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-38 .pie .half-circle {
  border-color: #1abc9c;
}
.pie-wrapper.progress-38 .pie .left-side {
  -webkit-transform: rotate(136.8deg);
  -moz-transform: rotate(136.8deg);
  -ms-transform: rotate(136.8deg);
  -o-transform: rotate(136.8deg);
  transform: rotate(136.8deg);
}
.pie-wrapper.progress-39 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-39 .pie .half-circle {
  border-color: #1abc9c;
}
.pie-wrapper.progress-39 .pie .left-side {
  -webkit-transform: rotate(140.4deg);
  -moz-transform: rotate(140.4deg);
  -ms-transform: rotate(140.4deg);
  -o-transform: rotate(140.4deg);
  transform: rotate(140.4deg);
}
.pie-wrapper.progress-40 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-40 .pie .half-circle {
  border-color: #1abc9c;
}
.pie-wrapper.progress-40 .pie .left-side {
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -o-transform: rotate(144deg);
  transform: rotate(144deg);
}
.pie-wrapper.progress-41 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-41 .pie .half-circle {
  border-color: #1abc9c;
}
.pie-wrapper.progress-41 .pie .left-side {
  -webkit-transform: rotate(147.6deg);
  -moz-transform: rotate(147.6deg);
  -ms-transform: rotate(147.6deg);
  -o-transform: rotate(147.6deg);
  transform: rotate(147.6deg);
}
.pie-wrapper.progress-42 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-42 .pie .half-circle {
  border-color: #1abc9c;
}
.pie-wrapper.progress-42 .pie .left-side {
  -webkit-transform: rotate(151.20000000000002deg);
  -moz-transform: rotate(151.20000000000002deg);
  -ms-transform: rotate(151.20000000000002deg);
  -o-transform: rotate(151.20000000000002deg);
  transform: rotate(151.20000000000002deg);
}
.pie-wrapper.progress-43 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-43 .pie .half-circle {
  border-color: #1abc9c;
}
.pie-wrapper.progress-43 .pie .left-side {
  -webkit-transform: rotate(154.8deg);
  -moz-transform: rotate(154.8deg);
  -ms-transform: rotate(154.8deg);
  -o-transform: rotate(154.8deg);
  transform: rotate(154.8deg);
}
.pie-wrapper.progress-44 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-44 .pie .half-circle {
  border-color: #1abc9c;
}
.pie-wrapper.progress-44 .pie .left-side {
  -webkit-transform: rotate(158.4deg);
  -moz-transform: rotate(158.4deg);
  -ms-transform: rotate(158.4deg);
  -o-transform: rotate(158.4deg);
  transform: rotate(158.4deg);
}
.pie-wrapper.progress-45 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-45 .pie .half-circle {
  border-color: #1abc9c;
}
.pie-wrapper.progress-45 .pie .left-side {
  -webkit-transform: rotate(162deg);
  -moz-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  -o-transform: rotate(162deg);
  transform: rotate(162deg);
}
.pie-wrapper.progress-46 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-46 .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-46 .pie .left-side {
  -webkit-transform: rotate(165.6deg);
  -moz-transform: rotate(165.6deg);
  -ms-transform: rotate(165.6deg);
  -o-transform: rotate(165.6deg);
  transform: rotate(165.6deg);
}
.pie-wrapper.progress-47 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-47 .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-47 .pie .left-side {
  -webkit-transform: rotate(169.20000000000002deg);
  -moz-transform: rotate(169.20000000000002deg);
  -ms-transform: rotate(169.20000000000002deg);
  -o-transform: rotate(169.20000000000002deg);
  transform: rotate(169.20000000000002deg);
}
.pie-wrapper.progress-48 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-48 .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-48 .pie .left-side {
  -webkit-transform: rotate(172.8deg);
  -moz-transform: rotate(172.8deg);
  -ms-transform: rotate(172.8deg);
  -o-transform: rotate(172.8deg);
  transform: rotate(172.8deg);
}
.pie-wrapper.progress-49 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-49 .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-49 .pie .left-side {
  -webkit-transform: rotate(176.4deg);
  -moz-transform: rotate(176.4deg);
  -ms-transform: rotate(176.4deg);
  -o-transform: rotate(176.4deg);
  transform: rotate(176.4deg);
}
.pie-wrapper.progress-50 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-50 .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-50 .pie .left-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-51 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-51 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-51 .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-51 .pie .left-side {
  -webkit-transform: rotate(183.6deg);
  -moz-transform: rotate(183.6deg);
  -ms-transform: rotate(183.6deg);
  -o-transform: rotate(183.6deg);
  transform: rotate(183.6deg);
}
.pie-wrapper.progress-52 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-52 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-52 .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-52 .pie .left-side {
  -webkit-transform: rotate(187.20000000000002deg);
  -moz-transform: rotate(187.20000000000002deg);
  -ms-transform: rotate(187.20000000000002deg);
  -o-transform: rotate(187.20000000000002deg);
  transform: rotate(187.20000000000002deg);
}
.pie-wrapper.progress-53 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-53 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-53 .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-53 .pie .left-side {
  -webkit-transform: rotate(190.8deg);
  -moz-transform: rotate(190.8deg);
  -ms-transform: rotate(190.8deg);
  -o-transform: rotate(190.8deg);
  transform: rotate(190.8deg);
}
.pie-wrapper.progress-54 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-54 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-54 .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-54 .pie .left-side {
  -webkit-transform: rotate(194.4deg);
  -moz-transform: rotate(194.4deg);
  -ms-transform: rotate(194.4deg);
  -o-transform: rotate(194.4deg);
  transform: rotate(194.4deg);
}
.pie-wrapper.progress-55 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-55 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-55 .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-55 .pie .left-side {
  -webkit-transform: rotate(198deg);
  -moz-transform: rotate(198deg);
  -ms-transform: rotate(198deg);
  -o-transform: rotate(198deg);
  transform: rotate(198deg);
}
.pie-wrapper.progress-56 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-56 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-56 .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-56 .pie .left-side {
  -webkit-transform: rotate(201.6deg);
  -moz-transform: rotate(201.6deg);
  -ms-transform: rotate(201.6deg);
  -o-transform: rotate(201.6deg);
  transform: rotate(201.6deg);
}
.pie-wrapper.progress-57 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-57 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-57 .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-57 .pie .left-side {
  -webkit-transform: rotate(205.20000000000002deg);
  -moz-transform: rotate(205.20000000000002deg);
  -ms-transform: rotate(205.20000000000002deg);
  -o-transform: rotate(205.20000000000002deg);
  transform: rotate(205.20000000000002deg);
}
.pie-wrapper.progress-58 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-58 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-58 .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-58 .pie .left-side {
  -webkit-transform: rotate(208.8deg);
  -moz-transform: rotate(208.8deg);
  -ms-transform: rotate(208.8deg);
  -o-transform: rotate(208.8deg);
  transform: rotate(208.8deg);
}
.pie-wrapper.progress-59 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-59 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-59 .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-59 .pie .left-side {
  -webkit-transform: rotate(212.4deg);
  -moz-transform: rotate(212.4deg);
  -ms-transform: rotate(212.4deg);
  -o-transform: rotate(212.4deg);
  transform: rotate(212.4deg);
}
.pie-wrapper.progress-60 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-60 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-60 .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-60 .pie .left-side {
  -webkit-transform: rotate(216deg);
  -moz-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  -o-transform: rotate(216deg);
  transform: rotate(216deg);
}
.pie-wrapper.progress-61 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-61 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-61 .pie .half-circle {
  border-color: #8e44ad;
}
.pie-wrapper.progress-61 .pie .left-side {
  -webkit-transform: rotate(219.6deg);
  -moz-transform: rotate(219.6deg);
  -ms-transform: rotate(219.6deg);
  -o-transform: rotate(219.6deg);
  transform: rotate(219.6deg);
}
.pie-wrapper.progress-62 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-62 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-62 .pie .half-circle {
  border-color: #8e44ad;
}
.pie-wrapper.progress-62 .pie .left-side {
  -webkit-transform: rotate(223.20000000000002deg);
  -moz-transform: rotate(223.20000000000002deg);
  -ms-transform: rotate(223.20000000000002deg);
  -o-transform: rotate(223.20000000000002deg);
  transform: rotate(223.20000000000002deg);
}
.pie-wrapper.progress-63 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-63 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-63 .pie .half-circle {
  border-color: #8e44ad;
}
.pie-wrapper.progress-63 .pie .left-side {
  -webkit-transform: rotate(226.8deg);
  -moz-transform: rotate(226.8deg);
  -ms-transform: rotate(226.8deg);
  -o-transform: rotate(226.8deg);
  transform: rotate(226.8deg);
}
.pie-wrapper.progress-64 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-64 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-64 .pie .half-circle {
  border-color: #8e44ad;
}
.pie-wrapper.progress-64 .pie .left-side {
  -webkit-transform: rotate(230.4deg);
  -moz-transform: rotate(230.4deg);
  -ms-transform: rotate(230.4deg);
  -o-transform: rotate(230.4deg);
  transform: rotate(230.4deg);
}
.pie-wrapper.progress-65 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-65 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-65 .pie .half-circle {
  border-color: #8e44ad;
}
.pie-wrapper.progress-65 .pie .left-side {
  -webkit-transform: rotate(234deg);
  -moz-transform: rotate(234deg);
  -ms-transform: rotate(234deg);
  -o-transform: rotate(234deg);
  transform: rotate(234deg);
}
.pie-wrapper.progress-66 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-66 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-66 .pie .half-circle {
  border-color: #8e44ad;
}
.pie-wrapper.progress-66 .pie .left-side {
  -webkit-transform: rotate(237.6deg);
  -moz-transform: rotate(237.6deg);
  -ms-transform: rotate(237.6deg);
  -o-transform: rotate(237.6deg);
  transform: rotate(237.6deg);
}
.pie-wrapper.progress-67 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-67 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-67 .pie .half-circle {
  border-color: #8e44ad;
}
.pie-wrapper.progress-67 .pie .left-side {
  -webkit-transform: rotate(241.20000000000002deg);
  -moz-transform: rotate(241.20000000000002deg);
  -ms-transform: rotate(241.20000000000002deg);
  -o-transform: rotate(241.20000000000002deg);
  transform: rotate(241.20000000000002deg);
}
.pie-wrapper.progress-68 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-68 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-68 .pie .half-circle {
  border-color: #8e44ad;
}
.pie-wrapper.progress-68 .pie .left-side {
  -webkit-transform: rotate(244.8deg);
  -moz-transform: rotate(244.8deg);
  -ms-transform: rotate(244.8deg);
  -o-transform: rotate(244.8deg);
  transform: rotate(244.8deg);
}
.pie-wrapper.progress-69 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-69 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-69 .pie .half-circle {
  border-color: #8e44ad;
}
.pie-wrapper.progress-69 .pie .left-side {
  -webkit-transform: rotate(248.4deg);
  -moz-transform: rotate(248.4deg);
  -ms-transform: rotate(248.4deg);
  -o-transform: rotate(248.4deg);
  transform: rotate(248.4deg);
}
.pie-wrapper.progress-70 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-70 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-70 .pie .half-circle {
  border-color: #8e44ad;
}
.pie-wrapper.progress-70 .pie .left-side {
  -webkit-transform: rotate(252deg);
  -moz-transform: rotate(252deg);
  -ms-transform: rotate(252deg);
  -o-transform: rotate(252deg);
  transform: rotate(252deg);
}
.pie-wrapper.progress-71 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-71 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-71 .pie .half-circle {
  border-color: #8e44ad;
}
.pie-wrapper.progress-71 .pie .left-side {
  -webkit-transform: rotate(255.6deg);
  -moz-transform: rotate(255.6deg);
  -ms-transform: rotate(255.6deg);
  -o-transform: rotate(255.6deg);
  transform: rotate(255.6deg);
}
.pie-wrapper.progress-72 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-72 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-72 .pie .half-circle {
  border-color: #8e44ad;
}
.pie-wrapper.progress-72 .pie .left-side {
  -webkit-transform: rotate(259.2deg);
  -moz-transform: rotate(259.2deg);
  -ms-transform: rotate(259.2deg);
  -o-transform: rotate(259.2deg);
  transform: rotate(259.2deg);
}
.pie-wrapper.progress-73 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-73 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-73 .pie .half-circle {
  border-color: #8e44ad;
}
.pie-wrapper.progress-73 .pie .left-side {
  -webkit-transform: rotate(262.8deg);
  -moz-transform: rotate(262.8deg);
  -ms-transform: rotate(262.8deg);
  -o-transform: rotate(262.8deg);
  transform: rotate(262.8deg);
}
.pie-wrapper.progress-74 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-74 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-74 .pie .half-circle {
  border-color: #8e44ad;
}
.pie-wrapper.progress-74 .pie .left-side {
  -webkit-transform: rotate(266.40000000000003deg);
  -moz-transform: rotate(266.40000000000003deg);
  -ms-transform: rotate(266.40000000000003deg);
  -o-transform: rotate(266.40000000000003deg);
  transform: rotate(266.40000000000003deg);
}
.pie-wrapper.progress-75 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-75 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-75 .pie .half-circle {
  border-color: #8e44ad;
}
.pie-wrapper.progress-75 .pie .left-side {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.pie-wrapper.progress-76 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-76 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-76 .pie .half-circle {
  border-color: #e67e22;
}
.pie-wrapper.progress-76 .pie .left-side {
  -webkit-transform: rotate(273.6deg);
  -moz-transform: rotate(273.6deg);
  -ms-transform: rotate(273.6deg);
  -o-transform: rotate(273.6deg);
  transform: rotate(273.6deg);
}
.pie-wrapper.progress-77 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-77 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-77 .pie .half-circle {
  border-color: #e67e22;
}
.pie-wrapper.progress-77 .pie .left-side {
  -webkit-transform: rotate(277.2deg);
  -moz-transform: rotate(277.2deg);
  -ms-transform: rotate(277.2deg);
  -o-transform: rotate(277.2deg);
  transform: rotate(277.2deg);
}
.pie-wrapper.progress-78 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-78 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-78 .pie .half-circle {
  border-color: #e67e22;
}
.pie-wrapper.progress-78 .pie .left-side {
  -webkit-transform: rotate(280.8deg);
  -moz-transform: rotate(280.8deg);
  -ms-transform: rotate(280.8deg);
  -o-transform: rotate(280.8deg);
  transform: rotate(280.8deg);
}
.pie-wrapper.progress-79 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-79 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-79 .pie .half-circle {
  border-color: #e67e22;
}
.pie-wrapper.progress-79 .pie .left-side {
  -webkit-transform: rotate(284.40000000000003deg);
  -moz-transform: rotate(284.40000000000003deg);
  -ms-transform: rotate(284.40000000000003deg);
  -o-transform: rotate(284.40000000000003deg);
  transform: rotate(284.40000000000003deg);
}
.pie-wrapper.progress-80 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-80 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-80 .pie .half-circle {
  border-color: #e67e22;
}
.pie-wrapper.progress-80 .pie .left-side {
  -webkit-transform: rotate(288deg);
  -moz-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  -o-transform: rotate(288deg);
  transform: rotate(288deg);
}
.pie-wrapper.progress-81 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-81 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-81 .pie .half-circle {
  border-color: #e67e22;
}
.pie-wrapper.progress-81 .pie .left-side {
  -webkit-transform: rotate(291.6deg);
  -moz-transform: rotate(291.6deg);
  -ms-transform: rotate(291.6deg);
  -o-transform: rotate(291.6deg);
  transform: rotate(291.6deg);
}
.pie-wrapper.progress-82 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-82 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-82 .pie .half-circle {
  border-color: #e67e22;
}
.pie-wrapper.progress-82 .pie .left-side {
  -webkit-transform: rotate(295.2deg);
  -moz-transform: rotate(295.2deg);
  -ms-transform: rotate(295.2deg);
  -o-transform: rotate(295.2deg);
  transform: rotate(295.2deg);
}
.pie-wrapper.progress-83 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-83 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-83 .pie .half-circle {
  border-color: #e67e22;
}
.pie-wrapper.progress-83 .pie .left-side {
  -webkit-transform: rotate(298.8deg);
  -moz-transform: rotate(298.8deg);
  -ms-transform: rotate(298.8deg);
  -o-transform: rotate(298.8deg);
  transform: rotate(298.8deg);
}
.pie-wrapper.progress-84 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-84 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-84 .pie .half-circle {
  border-color: #e67e22;
}
.pie-wrapper.progress-84 .pie .left-side {
  -webkit-transform: rotate(302.40000000000003deg);
  -moz-transform: rotate(302.40000000000003deg);
  -ms-transform: rotate(302.40000000000003deg);
  -o-transform: rotate(302.40000000000003deg);
  transform: rotate(302.40000000000003deg);
}
.pie-wrapper.progress-85 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-85 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-85 .pie .half-circle {
  border-color: #e67e22;
}
.pie-wrapper.progress-85 .pie .left-side {
  -webkit-transform: rotate(306deg);
  -moz-transform: rotate(306deg);
  -ms-transform: rotate(306deg);
  -o-transform: rotate(306deg);
  transform: rotate(306deg);
}
.pie-wrapper.progress-86 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-86 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-86 .pie .half-circle {
  border-color: #e67e22;
}
.pie-wrapper.progress-86 .pie .left-side {
  -webkit-transform: rotate(309.6deg);
  -moz-transform: rotate(309.6deg);
  -ms-transform: rotate(309.6deg);
  -o-transform: rotate(309.6deg);
  transform: rotate(309.6deg);
}
.pie-wrapper.progress-87 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-87 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-87 .pie .half-circle {
  border-color: #e67e22;
}
.pie-wrapper.progress-87 .pie .left-side {
  -webkit-transform: rotate(313.2deg);
  -moz-transform: rotate(313.2deg);
  -ms-transform: rotate(313.2deg);
  -o-transform: rotate(313.2deg);
  transform: rotate(313.2deg);
}
.pie-wrapper.progress-88 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-88 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-88 .pie .half-circle {
  border-color: #e67e22;
}
.pie-wrapper.progress-88 .pie .left-side {
  -webkit-transform: rotate(316.8deg);
  -moz-transform: rotate(316.8deg);
  -ms-transform: rotate(316.8deg);
  -o-transform: rotate(316.8deg);
  transform: rotate(316.8deg);
}
.pie-wrapper.progress-89 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-89 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-89 .pie .half-circle {
  border-color: #e67e22;
}
.pie-wrapper.progress-89 .pie .left-side {
  -webkit-transform: rotate(320.40000000000003deg);
  -moz-transform: rotate(320.40000000000003deg);
  -ms-transform: rotate(320.40000000000003deg);
  -o-transform: rotate(320.40000000000003deg);
  transform: rotate(320.40000000000003deg);
}
.pie-wrapper.progress-90 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-90 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-90 .pie .half-circle {
  border-color: #e67e22;
}
.pie-wrapper.progress-90 .pie .left-side {
  -webkit-transform: rotate(324deg);
  -moz-transform: rotate(324deg);
  -ms-transform: rotate(324deg);
  -o-transform: rotate(324deg);
  transform: rotate(324deg);
}
.pie-wrapper.progress-91 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-91 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-91 .pie .half-circle {
  border-color: #e74c3c;
}
.pie-wrapper.progress-91 .pie .left-side {
  -webkit-transform: rotate(327.6deg);
  -moz-transform: rotate(327.6deg);
  -ms-transform: rotate(327.6deg);
  -o-transform: rotate(327.6deg);
  transform: rotate(327.6deg);
}
.pie-wrapper.progress-92 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-92 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-92 .pie .half-circle {
  border-color: #e74c3c;
}
.pie-wrapper.progress-92 .pie .left-side {
  -webkit-transform: rotate(331.2deg);
  -moz-transform: rotate(331.2deg);
  -ms-transform: rotate(331.2deg);
  -o-transform: rotate(331.2deg);
  transform: rotate(331.2deg);
}
.pie-wrapper.progress-93 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-93 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-93 .pie .half-circle {
  border-color: #e74c3c;
}
.pie-wrapper.progress-93 .pie .left-side {
  -webkit-transform: rotate(334.8deg);
  -moz-transform: rotate(334.8deg);
  -ms-transform: rotate(334.8deg);
  -o-transform: rotate(334.8deg);
  transform: rotate(334.8deg);
}
.pie-wrapper.progress-94 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-94 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-94 .pie .half-circle {
  border-color: #e74c3c;
}
.pie-wrapper.progress-94 .pie .left-side {
  -webkit-transform: rotate(338.40000000000003deg);
  -moz-transform: rotate(338.40000000000003deg);
  -ms-transform: rotate(338.40000000000003deg);
  -o-transform: rotate(338.40000000000003deg);
  transform: rotate(338.40000000000003deg);
}
.pie-wrapper.progress-95 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-95 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-95 .pie .half-circle {
  border-color: #e74c3c;
}
.pie-wrapper.progress-95 .pie .left-side {
  -webkit-transform: rotate(342deg);
  -moz-transform: rotate(342deg);
  -ms-transform: rotate(342deg);
  -o-transform: rotate(342deg);
  transform: rotate(342deg);
}
.pie-wrapper.progress-96 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-96 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-96 .pie .half-circle {
  border-color: #e74c3c;
}
.pie-wrapper.progress-96 .pie .left-side {
  -webkit-transform: rotate(345.6deg);
  -moz-transform: rotate(345.6deg);
  -ms-transform: rotate(345.6deg);
  -o-transform: rotate(345.6deg);
  transform: rotate(345.6deg);
}
.pie-wrapper.progress-97 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-97 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-97 .pie .half-circle {
  border-color: #e74c3c;
}
.pie-wrapper.progress-97 .pie .left-side {
  -webkit-transform: rotate(349.2deg);
  -moz-transform: rotate(349.2deg);
  -ms-transform: rotate(349.2deg);
  -o-transform: rotate(349.2deg);
  transform: rotate(349.2deg);
}
.pie-wrapper.progress-98 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-98 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-98 .pie .half-circle {
  border-color: #e74c3c;
}
.pie-wrapper.progress-98 .pie .left-side {
  -webkit-transform: rotate(352.8deg);
  -moz-transform: rotate(352.8deg);
  -ms-transform: rotate(352.8deg);
  -o-transform: rotate(352.8deg);
  transform: rotate(352.8deg);
}
.pie-wrapper.progress-99 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-99 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-99 .pie .half-circle {
  border-color: #e74c3c;
}
.pie-wrapper.progress-99 .pie .left-side {
  -webkit-transform: rotate(356.40000000000003deg);
  -moz-transform: rotate(356.40000000000003deg);
  -ms-transform: rotate(356.40000000000003deg);
  -o-transform: rotate(356.40000000000003deg);
  transform: rotate(356.40000000000003deg);
}
.pie-wrapper.progress-100 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-100 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-100 .pie .half-circle {
  border-color: #e74c3c;
}
.pie-wrapper.progress-100 .pie .left-side {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
