.icon-awesome{
  width: 296px;
  height: 313px;
  overflow: hidden;
  overflow-y: scroll;
  padding: -15px;
}

.icon-awesome li{
	width: 46px;
	float: left;
}
.icon-awesome button{
	min-width: 46px;
	min-height: 34px;
}