@white: #fff;
@black: #000;
@head-bar: #414141;
@light-blue: #0072bc;
@gray: #777;
@light-gray: #CECECE;
@light-red: #c00000;
@orange: #eb6620;
@body-background: #eee;


* { -webkit-user-select: none; }

body { background:@body-background; }

.d-header {
    background-color: @head-bar;
    width: 100%;
    height: 60px;
    padding-left:5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 51;
}
.d-header-image{
    line-height: 60px; margin-left: 10px;
    img { height: 40px; }
}
ul.icons { list-style: none; padding: 2px 5px 0 0; text-align: center; }
.icons{
    li { display: inline-block; padding-left: 10px; padding-right: 3px; vertical-align: middle; line-height: 60px;}
    a {
        text-decoration: none; color: @white;
        & :active { color: @light-gray; }
        & :hover { text-decoration: none; }
    }
}
.sidebar{
    width: 230px; float: left; display: block; color: @gray; position: fixed; padding-top: 60px;
    .nav li { width: 100%; }
    ul.nav{
        li.active { background-color: @light-blue; }
        li.active a { color: @white; background-color: @light-blue; }
    }
    .nav{
        li a { color: @black; font-weight: 600; }
        li a:hover { color: @light-blue;}
        li.active a:hover { font-weight: bold; background-color: @light-blue;}
    }
}
.mainbar{
    position: relative;
    margin-left: 230px;
    margin-right: 0px;
    border-left: 1px solid @light-gray;
    width: auto;
     z-index: 50;
    padding-top: 70px;
    height: 100%;

    .container{ max-width:100% !important; width: 100% !important; }
}

.quick-tips {
    overflow: hidden; padding: 0.5px;
    > div:first-child {
        height: 276px; float: left;
        ul{
            list-style-type: none; padding-left: 0;
            li { width: 100px; height: 92px; background-color: @orange; border-bottom: solid 1px @white; text-align: center; }
            li:hover { background-color: @light-red; cursor: pointer; }
            li.active { background-color: @light-red; }
            li a { width: 100px; line-height: 92px; text-decoration: none; color: @white; font-weight: 600; }
        }
    }
    > div:last-child { background-color: #fff; height: 276px; width: auto; position: relative; margin-left: 100px; }
}

ul.tips{
    font-size: 17px;
    li{ margin: 15px; padding-left: 13px; }
    li:first-child {
        margin-bottom: 17px; font-size: 20px; margin-left: 5px; padding-top: 12px;
        span { width: 40px; height: 40px; font-size: 18px; background-color: @orange; color: @white; }
    }
    span {
        border: 1px solid @white;
        border-radius: 40px;
        width: 33px;
        height: 33px;
        background-color: @light-gray;
        padding: 6px;
        display: inline-block;
        color: @gray;
        text-align: center;
        font-weight: bold;
        font-size: 15px;
    }

}
.tips-title{
    color: #eb6620;
    text-shadow: 0px 1px #0B0B0B;
    font-weight: bold;
    font-family: arial;
}
ul.news {
    li{ margin: 14px; padding-left: 13px; font-size: 17px; }
}
.dash-title { text-transform: uppercase; margin-left: -15px; }
.previews{
     margin-top: 10px;
    > div { padding-left: 0; }
}
.graph {
    min-height: 293px; min-width: 248px;
    .panel-body { min-height: 230px; overflow: hidden; text-overflow: ellipsis; }
}

.filter-input { width: 205px; margin-top: 13px; }

.panel-body{ background-color: @white; }
.panel-3d { box-shadow: 0px 1px 5px;}

.section-title{
    height: 29px;
    margin-bottom: 10px;
    i { float: left; }
    > span {
        font-weight: bold;
        top: -7px;
        color: @black;
        font-size: 18px;
        left: 45px;
        padding-left: 5px;
        display: inline-block;
        &:last-child{ top: 14px; font-size: 11px; }
    }
}

.m-down{
    margin-bottom: 30px;
    .panel-body { min-height: 320px; }
}

.config-table{
    background-color: @white;
}

.padd-0{ padding: 0 !important;}

.file-drop{
    padding: 10px;
    width: 200px;
    text-align: center;
    border: 1px dashed;

    &.dragover{
        background-color: rgb(231, 174, 174);
        color: @white;
        font-weight: bold;
    }
}

.wap-td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fx-lt{ table-layout: fixed; }

.widget { top: -6px !important; }

/* http://codepen.io/jo-asakura/pen/stFHi/ */
.pie-wrapper
{
    @size: 200px;

    @color_1_30: #3498db;
    @color_31_45: #1abc9c;
    @color_46_60: #9b59b6;
    @color_61_75: #8e44ad;
    @color_76_90: #e67e22;
    @color_91-100: #e74c3c;

    display: block;  height: @size; position: relative; width: @size; margin-left: auto; margin-right: auto;

    .pie
    {
        clip: rect(0, @size, @size, @size / 2); height: @size; position: absolute; width: @size;
        .half-circle
        {
            border: @size / 10 solid #3498db; border-radius: 50%;
            clip: rect(0, @size / 2, @size, 0);
            height: @size;
            position: absolute;
            width: @size;
        }
    }

    .label
    {
        background: #34495e;
        border-radius: 50%;
        color: #ecf0f1;
        cursor: default;
        display: block;
        font-size: 3em;
        height: @size - (@size * .2);
        left: 10%;
        line-height: 3em;
        position: absolute;
        text-align: center;
        top: 10%;
        width: @size - (@size * .2);

        .smaller
        {
            color: #bdc3c7;
            font-size: .45em;
            padding-bottom: 20px;
            vertical-align: super;
        }
    }

    &.style-2
    {
        .shadow
        {
            border: @size / 10 solid #bdc3c7;
            border-radius: 50%;
            height: 100%;
            width: 100%;
        }

        .label
        {
            background: none;
            color: #7f8c8d;

            .smaller
            {
                color: #bdc3c7;
            }
        }
    }


    &.progress-1 { .draw-progress(1, @color_1_30); }
    &.progress-2 { .draw-progress(2, @color_1_30); }
    &.progress-3 { .draw-progress(3, @color_1_30); }
    &.progress-4 { .draw-progress(4, @color_1_30); }
    &.progress-5 { .draw-progress(5, @color_1_30); }
    &.progress-6 { .draw-progress(6, @color_1_30); }
    &.progress-7 { .draw-progress(7, @color_1_30); }
    &.progress-8 { .draw-progress(8, @color_1_30); }
    &.progress-9 { .draw-progress(9, @color_1_30); }
    &.progress-10 { .draw-progress(10, @color_1_30); }
    &.progress-11 { .draw-progress(11, @color_1_30); }
    &.progress-12 { .draw-progress(12, @color_1_30); }
    &.progress-13 { .draw-progress(13, @color_1_30); }
    &.progress-14 { .draw-progress(14, @color_1_30); }
    &.progress-15 { .draw-progress(15, @color_1_30); }
    &.progress-16 { .draw-progress(16, @color_1_30); }
    &.progress-17 { .draw-progress(17, @color_1_30); }
    &.progress-18 { .draw-progress(18, @color_1_30); }
    &.progress-19 { .draw-progress(19, @color_1_30); }
    &.progress-20 { .draw-progress(20, @color_1_30); }
    &.progress-21 { .draw-progress(21, @color_1_30); }
    &.progress-22 { .draw-progress(22, @color_1_30); }
    &.progress-23 { .draw-progress(23, @color_1_30); }
    &.progress-24 { .draw-progress(24, @color_1_30); }
    &.progress-25 { .draw-progress(25, @color_1_30); }
    &.progress-26 { .draw-progress(26, @color_1_30); }
    &.progress-27 { .draw-progress(27, @color_1_30); }
    &.progress-28 { .draw-progress(28, @color_1_30); }
    &.progress-29 { .draw-progress(29, @color_1_30); }
    &.progress-30 { .draw-progress(30, @color_1_30); }
    &.progress-31 { .draw-progress(31, @color_31_45); }
    &.progress-32 { .draw-progress(32, @color_31_45); }
    &.progress-33 { .draw-progress(33, @color_31_45); }
    &.progress-34 { .draw-progress(34, @color_31_45); }
    &.progress-35 { .draw-progress(35, @color_31_45); }
    &.progress-36 { .draw-progress(36, @color_31_45); }
    &.progress-37 { .draw-progress(37, @color_31_45); }
    &.progress-38 { .draw-progress(38, @color_31_45); }
    &.progress-39 { .draw-progress(39, @color_31_45); }
    &.progress-40 { .draw-progress(40, @color_31_45); }
    &.progress-41 { .draw-progress(41, @color_31_45); }
    &.progress-42 { .draw-progress(42, @color_31_45); }
    &.progress-43 { .draw-progress(43, @color_31_45); }
    &.progress-44 { .draw-progress(44, @color_31_45); }
    &.progress-45 { .draw-progress(45, @color_31_45); }
    &.progress-46 { .draw-progress(46, @color_46_60); }
    &.progress-47 { .draw-progress(47, @color_46_60); }
    &.progress-48 { .draw-progress(48, @color_46_60); }
    &.progress-49 { .draw-progress(49, @color_46_60); }
    &.progress-50 { .draw-progress(50, @color_46_60); }
    &.progress-51 { .draw-progress(51, @color_46_60); }
    &.progress-52 { .draw-progress(52, @color_46_60); }
    &.progress-53 { .draw-progress(53, @color_46_60); }
    &.progress-54 { .draw-progress(54, @color_46_60); }
    &.progress-55 { .draw-progress(55, @color_46_60); }
    &.progress-56 { .draw-progress(56, @color_46_60); }
    &.progress-57 { .draw-progress(57, @color_46_60); }
    &.progress-58 { .draw-progress(58, @color_46_60); }
    &.progress-59 { .draw-progress(59, @color_46_60); }
    &.progress-60 { .draw-progress(60, @color_46_60); }
    &.progress-61 { .draw-progress(61, @color_61_75); }
    &.progress-62 { .draw-progress(62, @color_61_75); }
    &.progress-63 { .draw-progress(63, @color_61_75); }
    &.progress-64 { .draw-progress(64, @color_61_75); }
    &.progress-65 { .draw-progress(65, @color_61_75); }
    &.progress-66 { .draw-progress(66, @color_61_75); }
    &.progress-67 { .draw-progress(67, @color_61_75); }
    &.progress-68 { .draw-progress(68, @color_61_75); }
    &.progress-69 { .draw-progress(69, @color_61_75); }
    &.progress-70 { .draw-progress(70, @color_61_75); }
    &.progress-71 { .draw-progress(71, @color_61_75); }
    &.progress-72 { .draw-progress(72, @color_61_75); }
    &.progress-73 { .draw-progress(73, @color_61_75); }
    &.progress-74 { .draw-progress(74, @color_61_75); }
    &.progress-75 { .draw-progress(75, @color_61_75); }
    &.progress-76 { .draw-progress(76, @color_76_90); }
    &.progress-77 { .draw-progress(77, @color_76_90); }
    &.progress-78 { .draw-progress(78, @color_76_90); }
    &.progress-79 { .draw-progress(79, @color_76_90); }
    &.progress-80 { .draw-progress(80, @color_76_90); }
    &.progress-81 { .draw-progress(81, @color_76_90); }
    &.progress-82 { .draw-progress(82, @color_76_90); }
    &.progress-83 { .draw-progress(83, @color_76_90); }
    &.progress-84 { .draw-progress(84, @color_76_90); }
    &.progress-85 { .draw-progress(85, @color_76_90); }
    &.progress-86 { .draw-progress(86, @color_76_90); }
    &.progress-87 { .draw-progress(87, @color_76_90); }
    &.progress-88 { .draw-progress(88, @color_76_90); }
    &.progress-89 { .draw-progress(89, @color_76_90); }
    &.progress-90 { .draw-progress(90, @color_76_90); }
    &.progress-91 { .draw-progress(91, @color_91-100); }
    &.progress-92 { .draw-progress(92, @color_91-100); }
    &.progress-93 { .draw-progress(93, @color_91-100); }
    &.progress-94 { .draw-progress(94, @color_91-100); }
    &.progress-95 { .draw-progress(95, @color_91-100); }
    &.progress-96 { .draw-progress(96, @color_91-100); }
    &.progress-97 { .draw-progress(97, @color_91-100); }
    &.progress-98 { .draw-progress(98, @color_91-100); }
    &.progress-99 { .draw-progress(99, @color_91-100); }
    &.progress-100 { .draw-progress(100, @color_91-100); }
}
.draw-progress(@progress, @color) when (@progress <= 50)
{
    .pie
    {
        .right-side { display: none; }
    }
}
.draw-progress(@progress, @color) when (@progress > 50)
{
    .pie
    {
        clip: rect(auto, auto, auto, auto);
        .right-side { .transform(rotate(180deg)); }
    }
}
.draw-progress(@progress, @color)
{
    .pie
    {
        .half-circle { border-color: @color; }

        .left-side
        {
            @rotate: @progress * 3.6;
            .transform(rotate(~'@{rotate}deg'));
        }
    }
}
.transform(@value)
{
    -webkit-transform: @value;
    -moz-transform: @value;
    -ms-transform: @value;
    -o-transform: @value;
    transform: @value;
}

