<!DOCTYPE html>
<html ng-app="dvrHelper">
<head>
  <title>DVR Helper</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="lib/icon-awesome/icon-awesome.css">
  <link rel="stylesheet" href="lib/angular-ui-switch/angular-ui-switch.css">
  <link rel="stylesheet" href="styles/style.css">
  <script type="text/javascript" src="lib/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="lib/jquery-ui/jquery-ui.js"></script>
  <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/ui-router/release/angular-ui-router.js"></script>
  <script src="lib/ui-bootstrap/dist/ui-bootstrap-0.12.0.js"></script>
  <script src="lib/icon-awesome/icon-awesome.js"></script>
  <script src="lib/angular-ui-switch/angular-ui-switch.min.js"></script>
  <script src="lib/angular/angular-sanitize.js"></script>
  <script type="text/javascript" src="main.js"></script>
</head>
<body>
  <div class="content" ng-controller="MainCtrl">
    <nav class="d-header">
      <ul class="icons pull-left">
        <li>
          <a href="" ng-click="goBack()"> <i class="fa fa-arrow-circle-left fa-4x"></i></a>
        </li>
        <li>
          <a href="" ng-click="goForward()"> <i class="fa fa-arrow-circle-right fa-3x"></i></a>
        </li>
      </ul>
      <span class="d-header-image"><img src="images/3xlogic.png" alt="3x logo" /></span>
      <ul class="icons pull-right">
          <li ng-if="cases">
              <a href="" ui-sref="dvr.cases"> <span class="badge">{{cases.length}}</span> {{commonWords.cases}}</a>
          </li>
        <li>
            <a href="" ui-sref="dvr.support"><i class="fa fa-envelope fa-lg"></i> {{commonWords.support_request}}</a>
        </li>
        <li>
          <a href="" ng-click="openDocs(top_button.docs[0])"><i class="{{top_button.icon}}"></i> {{top_button.title}}</a>
        </li>
      </ul>
    </nav>
    <!-- Sidebar -->
    <div class="sidebar" ui-view="sidebarMenu">
    </div>

    <!-- Sidebar ends -->
    <!-- Main bar -->
    <div class="mainbar" ng-class="status">
      <div class="container main-1" ui-view="container">
      </div>
    </div>

    <!-- Mainbar ends -->
    <div class="clearfix"></div>

  </div>
</body>
</html>
