<div class="col-lg-6 col-sm-12 m-down">
    <div class="section-title">
        <i class="{{item.icon}}"></i>
        <span>{{item.title}}</span>
        <span>({{item.docs.length}} {{commonWords.total}})</span>
    </div>
    <div class="panel-default panel-3d">
        <div class="panel-heading">
            <div class="filter-input form-group has-feedback">
                <input type="text" class="form-control input-sm" placeholder="Filter" ng-model="item.filter">
                <span class="fa fa-search form-control-feedback"></span>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped fx-lt">
                <thead>
                <tr>
                    <th width="5%">#</th>
                    <th width="95%">{{item.table_labels.section_1}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item1 in howToFiltered = (item.docs | filter:item.filter) | startFrom: ((item.current_page -1 )*item.item_display) | limitTo:item.item_display ">
                    <td>{{$index}}</td>
                    <td class="wap-td"><a href="" ng-click="openDocs(item1)">{{item1.name}}</a></td>
                </tr>
                </tbody>
            </table>
            <pagination total-items="howToFiltered.length" items-per-page="item.item_display" ng-model="item.current_page"></pagination>
        </div>
    </div>
</div>
