<div class="container">
    <ol class="breadcrumb">
        <li><a ui-sref="dvr.config">{{commonWords.configurations}}</a></li>
        <li class="active">{{commonWords.common_words}}</li>
    </ol>
    <div class="page-header">
        <h1>{{commonWords.common_words}}</h1>
    </div>
    <div class="config-table panel-3d">
        <table class="table">
            <thead>
                <tr>
                    <th width="220px">Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(val, key) in commonWords">
                    <td><b>{{val}}</b></td>
                    <td><input type="text" class="form-control" ng-model="key" ng-blur="updateWord(val, key)"/></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
