<div class="container">
    <ol class="breadcrumb">
        <li><a ui-sref="dvr.config">{{commonWords.configurations}}</a></li>
        <li class="active">{{commonWords.dashboard}}</li>
    </ol>
    <div class="page-header">
        <h1>{{commonWords.dashboard}}</h1>
    </div>
    <div class="panel panel-default" ng-repeat="side in dashboard.quick_tips">
        <div class="panel-heading"><b>{{side.title}}</b><switch id="enabled" name="enabled" ng-model="displayBody" class="blue widget pull-right"></switch></div>
        <div class="panel-body form-horizontal" ng-if="displayBody">
           <div class="form-group">
                <label for="sb-title" class="col-sm-2 control-label">{{commonWords.title}}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="side.title" id="sb-title" placeholder="{{commonWords.title}}">
                </div>
            </div>
            <div class="form-group">
                <label for="sb-title" class="col-sm-2 control-label">{{commonWords.sub_title}}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="sb-title" ng-model="side.sub_title" placeholder="{{commonWords.sub_title}}">
                </div>
            </div>
            <div class="form-group">
                <label for="sb-title" class="col-sm-2 control-label">{{commonWords.target}}</label>
                <div class="col-sm-10">
                    <input type="text" disabled class="form-control" id="sb-title" ng-model="side.target" placeholder="{{commonWords.target}}">
                </div>
            </div>
            <p class="lead">Documents List <span class="badge">{{side.docs.length}}</span></p>
            <div class="well">
                <div class="file-drop" file-droper ng-model="files" ng-change="addFiles(files, side.docs, 4)">Add Files here</div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{commonWords.name}}</th>
                        <th>{{commonWords.file}}</th>
                        <th>{{commonWords.source}}</th>
                        <th>{{commonWords.type}}</th>
                        <th>{{commonWords.action}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="doc in side.docs">
                        <td><input class="form-control" ng-model="doc.name" /></td>
                        <td><input class="form-control" ng-model="doc.file" /></td>
                        <td><input class="form-control"  ng-model="doc.source" ng-list /></td>
                        <td><input class="form-control" ng-model="doc.type" /></td>
                        <td><button class="btn btn-danger"  ng-click="removeArr(doc, side.docs)"><i class="fa fa-remove"></i></a> </button>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
