<div class="well">
    <div class="file-drop" file-droper ng-model="files" ng-change="addFiles(files, model.docs)">Add Files here</div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{commonWords.name}}</th>
            <th>{{commonWords.file}}</th>
            <th>{{commonWords.source}}</th>
            <th>{{commonWords.type}}</th>
            <th>{{commonWords.action}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="doc in model.docs">
            <td><input class="form-control" ng-model="doc.name" /></td>
            <td><input class="form-control" ng-model="doc.file" /></td>
            <td><input class="form-control"  ng-model="doc.source" ng-list /></td>
            <td><input class="form-control" ng-model="doc.type" /></td>
            <td><button class="btn btn-danger"  ng-click="removeArr(doc, model.docs)"><i class="fa fa-remove"></i></a> </button>
        </tr>
        </tbody>
    </table>
</div>
