<!-- <div ng-repeat="side in source.sidebar_menu">
  	<div class="form-group">
	  <icon-picker class="btn-info" ng-model="side.icon" icon-add="fa-lg"></icon-picker>
	  <p class="help-block">Using Bootstrap and Font Awesome Icons{{side.icon}}</p>
	</div>
</div> -->
<div class="container">
    <ol class="breadcrumb">
        <li><a ui-sref="dvr.config">{{commonWords.configurations}}</a></li>
        <li class="active">{{commonWords.general}}</li>
    </ol>
   <br/>
  <div>
  <div class="panel panel-default">
	  <div class="panel-heading"><b>General Configurations</b></div>
	  <div class="panel-body form-horizontal">
	    <div class="form-group">
		    <label for="sb-icon" class="col-sm-2 control-label">API URL</label>
		    <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="source.api_url" id="sb-title" placeholder="Title">
		    </div>
		</div>
          <div class="form-group">
              <label for="sb-title" class="col-sm-2 control-label">Data Folder</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="sb-title" ng-model="source.data_folder" placeholder="Target">
              </div>
          </div>
		<div class="form-group">
		    <label for="sb-title" class="col-sm-2 control-label">Dashboard-Title</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" ng-model="dashboard.title" id="sb-title" placeholder="Title">
		    </div>
		</div>
		<div class="form-group">
          <label for="sb-title" class="col-sm-2 control-label">Support-Title</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="sb-title" ng-model="source.support.title" placeholder="Target">
          </div>
      </div>
      <div class="form-group">
          <label for="sb-title" class="col-sm-2 control-label">Support-Sub</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="sb-title" ng-model="source.support.sub_title" placeholder="Target">
          </div>
      </div>
      <div class="form-group">
          <label for="sb-title" class="col-sm-2 control-label">Config-Title</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="sb-title" ng-model="source.config.title" placeholder="Target">
          </div>
      </div>
      <div class="form-group">
          <label for="sb-title" class="col-sm-2 control-label">Render PDF</label>
          <div class="col-sm-10">
              <switch id="enabled" name="enabled" ng-model="source.render_pdf" class="blue"></switch>
          </div>
      </div>
      <div class="form-group">
          <label for="sb-title" class="col-sm-2 control-label">Top Button</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="sb-title" ng-model="source.top_button.title" placeholder="Target">
          </div>
      </div>
      <div class="form-group">
          <label for="sb-icon" class="col-sm-2 control-label">Top Btn Icon</label>
          <div class="col-sm-10">
              <icon-picker id="sb-icon" ng-model="source.top_button.icon" icon-add="fa-lg"></icon-picker>
          </div>
      </div>
      <p class="lead">Top Menu Doc <span class="badge">{{source.top_button.docs.length}}</span></p>
      <div class="well" >
          <div class="file-drop" file-droper ng-model="files" ng-change="addFiles(files, source.top_button.docs, 1)">Add Files here</div>
          <table class="table table-striped">
              <thead>
              <tr>
                  <th>{{commonWords.name}}</th>
                  <th>{{commonWords.file}}</th>
                  <th>{{commonWords.source}}</th>
                  <th>{{commonWords.type}}</th>
                  <th>{{commonWords.action}}</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="doc in source.top_button.docs">
                  <td><input class="form-control" ng-model="doc.name" /></td>
                  <td><input class="form-control" ng-model="doc.file" /></td>
                  <td><input class="form-control"  ng-model="doc.source" ng-list /></td>
                  <td><input class="form-control" ng-model="doc.type" /></td>
                  <td><button class="btn btn-danger"  ng-click="removeArr(doc, source.top_button.docs)"><i class="fa fa-remove"></i></a> </button>
              </tr>
              </tbody>
          </table>
      </div>
	  </div>
  </div>
  </div>
</div>

