<div class="panel panel-default">
    <div class="panel-heading"><b>{{side.title}}</b> <switch id="enabled" name="enabled" ng-model="displayBody" class="blue widget pull-right"></switch></div>
    <div class="panel-body form-horizontal" ng-if="displayBody">
        <div class="form-group">
            <label for="sb-icon" class="col-sm-2 control-label">{{commonWords.icon}}</label>
            <div class="col-sm-10">
                <icon-picker id="sb-icon" ng-model="side.icon" icon-add="fa-2x"></icon-picker>
            </div>
        </div>
        <div class="form-group">
            <label for="sb-title" class="col-sm-2 control-label">{{commonWords.title}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="side.title" id="sb-title" placeholder="Title">
            </div>
        </div>
        <div class="form-group">
            <label for="sb-title" class="col-sm-2 control-label">Item Display</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="sb-title" ng-model="side.item_display" placeholder="Documents per page">
            </div>
        </div>
        <div class="form-group">
            <label for="sb-title" class="col-sm-2 control-label">Current Page</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="sb-title" ng-model="side.current_page" placeholder="Documents per page">
            </div>
        </div>
        <div class="form-group">
            <label for="sb-title" class="col-sm-2 control-label">Filter</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="sb-title" ng-model="side.filter" placeholder="Product Filters">
            </div>
        </div>
        <div class="form-group">
            <label for="sb-title" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="sb-title" ng-model="side.description" placeholder="Description"></textarea>
            </div>
        </div>
        <p class="lead">Documents List <span class="badge">{{side.docs.length}}</span></p>
        <div class="well">
            <div class="file-drop pull-left" file-droper ng-model="files" ng-change="addFiles(files, side.docs)">Add Files here</div>
            <a href="" ng-click="addUrlLink(side.docs)" class="pull-right btn btn-default"><i class="fa fa-globe"></i> Add Url</a>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{commonWords.name}}</th>
                    <th>{{commonWords.file}}</th>
                    <th>{{commonWords.source}}</th>
                    <th>{{commonWords.type}}</th>
                    <th>{{commonWords.action}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="doc in side.docs">
                    <td><input class="form-control" ng-model="doc.name" /></td>
                    <td><input class="form-control" ng-model="doc.file" /></td>
                    <td><input class="form-control"  ng-model="doc.source" ng-list /></td>
                    <td><input class="form-control" ng-model="doc.type" /></td>
                    <td><button class="btn btn-danger"  ng-click="removeArr(doc, side.docs)"><i class="fa fa-remove"></i></a> </button>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
