<div class="container">
    <ol class="breadcrumb">
        <li><a ui-sref="dvr.config">{{commonWords.configurations}}</a></li>
        <li class="active">{{commonWords.product_user}}</li>
    </ol>
    <div class="page-header">
        <h1>{{commonWords.product_user}}</h1>
    </div>
    <div  ng-repeat="side in productUser" ng-include="'templates/config/list_doc.tmpl.html'"></div>
</div>
