<!-- <div ng-repeat="side in source.sidebar_menu">
  	<div class="form-group">
	  <icon-picker class="btn-info" ng-model="side.icon" icon-add="fa-lg"></icon-picker>
	  <p class="help-block">Using Bootstrap and Font Awesome Icons{{side.icon}}</p>
	</div>
</div> -->
<div class="container">
    <ol class="breadcrumb">
        <li><a ui-sref="dvr.config">{{commonWords.configurations}}</a></li>
        <li class="active">{{commonWords.side_bar}}</li>
    </ol>
    <a href="" class="btn btn-danger btn-sm" ng-click="addSideBar()"><i class="fa fa-plus"></i> {{commonWords.add_item}}</a>
    <br/><br/>
  <div>
  <div class="panel panel-default" ng-repeat="side in source.sidebar_menu">
	  <div class="panel-heading"><b>{{side.title}}</b><span class="pull-right"><a href="" ng-click="removeSb(side)"><i class="fa fa-remove"></i></a></span></div>
	  <div class="panel-body form-horizontal">
	    <div class="form-group">
		    <label for="sb-icon" class="col-sm-2 control-label">{{commonWords.icon}}</label>
		    <div class="col-sm-10">
		      <icon-picker id="sb-icon" ng-model="side.icon" icon-add="fa-lg"></icon-picker>
		    </div>
		</div>
		<div class="form-group">
		    <label for="sb-title" class="col-sm-2 control-label">{{commonWords.title}}</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" ng-model="side.title" id="sb-title" placeholder="Title">
		    </div>
		</div>
		<div class="form-group">
		    <label for="sb-title" class="col-sm-2 control-label">{{commonWords.target}}</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="sb-title" ng-model="side.target" placeholder="Target">
		    </div>
		</div>
          <div class="form-group">
              <label for="sb-title" class="col-sm-2 control-label">{{commonWords.internal}}</label>
              <div class="col-sm-10">
                 <switch id="enabled" name="enabled" ng-model="side.internal" class="blue"></switch>
              </div>
          </div>
	  </div>
  </div>
  </div>
</div>

