<div class="container">
        <ol class="breadcrumb">
            <li><a ui-sref="dvr.cases">{{commonWords.cases}}</a></li>
            <li class="active">{{caseNumber}}</li>
        </ol>
		<div class="page-header">
			<h3>{{currentCase.title}}</h3>
		</div>
		<div class="config-table panel-3d">
			<table class="table table-striped">
				<tbody>
					<tr>
                        <td width="170px"><b><i class="fa fa-building"></i> {{commonWords.company}}:</b></td>
                        <td>{{currentCase.company}}</td>
					</tr>
                    <tr>
                        <td><b><i class="fa fa-user"></i> {{commonWords.contact}}:</b></td>
                        <td>{{currentCase.contact}}</td>
                    </tr>
                    <tr>
                        <td><b><i class="fa fa-user-plus"></i> {{commonWords.support}}:</b></td>
                        <td>{{currentCase.assigned}}</td>
                    </tr>
                    <tr>
                        <td><b><i class="fa fa-exclamation-circle"></i> {{commonWords.stage}}:</b></td>
                        <td>{{currentCase.stage}}</td>
                    </tr>
                    <tr>
                        <td><b><i class="fa fa-calendar"></i> {{commonWords.created}}:</b></td>
                        <td>{{currentCase.createddate}}</td>
                    </tr>
                    <tr>
                        <td><b><i class="fa fa-calendar"></i> {{commonWords.last_message}}:</b></td>
                        <td>{{currentCase.details.last_message_date}}</td>
                    </tr>
                    <tr>
                        <td><b><i class="fa fa-comment-o"></i> {{commonWords.comments}}:</b></td>
                        <td>{{currentCase.details.customer_comments}}</td>
                    </tr>
                    <tr>
                        <td><b><i class="fa fa-comments"></i> {{commonWords.message}}:</b></td>
                        <td><p ng-bind="currentCase.details.incoming_message"></p></td>
                    </tr>
				</tbody>
			</table>
		</div>
		<div class="container panel-3d" ui-view></div>
</div>
