<div class="container">
	<div class="row">
        <ol class="breadcrumb">
            <li class="active"><a ui-sref="dvr.cases">{{commonWords.cases}}</a></li>
        </ol>
		<div class="page-header">
			<h3>{{commonWords.serial}} # <i>{{pc.hostname.name}}</i></h3>
		</div>
		<div class="config-table panel-3d">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{commonWords.case}}</th>
						<th>{{commonWords.subject}}</th>
                        <th>{{commonWords.company}}</th>
                        <td>{{commonWords.created}}</td>
                        <th>{{commonWords.stage}}</th>
                        <th>{{commonWords.support}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="cs in cases">
						<td><b><a href="#/case/{{cs.id}}">{{cs.casenumber}}</a></b></td>
                        <td>{{cs.title}}</td>
                        <td>{{cs.company}}</td>
                        <td>{{cs.createddate}}</td>
                        <td>{{cs.stage}}</td>
                        <td>{{cs.assigned}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="container panel-3d" ui-view></div>
	</div>
</div>
