<div class="container">
	<div class="row">
		<div class="page-header">
			<h1>{{contentList.title}}</h1>
		</div>
		<div class="config-table panel-3d">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{commonWords.sections}}</th>
						<th>{{commonWords.actions}}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a ui-sref="dvr.config_sb"><b>{{commonWords.side_bar}}</b></a></td>
						<td>
							<a href=""  ui-sref="dvr.config_sb" class="btn btn-default btn-sm"><i class="fa fa-pencil fa-sm"></i></a>
						</td>
					</tr>
					<tr>
						<td><a href="" ui-sref="dvr.config_dashboard"><b>{{commonWords.dashboard}}</b></a></td>
						<td>
							<a href="" ui-sref="dvr.config_dashboard" class="btn btn-default btn-sm"><i class="fa fa-pencil fa-sm"></i></a>
						</td>
					</tr>
					<tr>
						<td><a href="" ui-sref="dvr.config_productuser"><b>{{commonWords.product_user}}</b></a></td>
						<td>
							<a href="" class="btn btn-default btn-sm" ui-sref="dvr.config_productuser"><i class="fa fa-pencil fa-sm"></i></a>
						</td>
					</tr>
					<tr>
						<td><a href="" ui-sref="dvr.config_install"><b>{{commonWords.install_support}}</b></a></td>
						<td>
							<a href="" ui-sref="dvr.config_install" class="btn btn-default btn-sm"><i class="fa fa-pencil fa-sm"></i></a>
						</td>
					</tr>
					<tr>
						<td><a href="" ui-sref="dvr.config_cmwds"><b>{{commonWords.common_words}}</b></a></td>
						<td>
							<a href="" class="btn btn-default btn-sm" ui-sref="dvr.config_cmwds"><i class="fa fa-pencil fa-sm"></i></a>
						</td>
					</tr>
                    <tr>
                        <td><a href="" ui-sref="dvr.config_general"><b>{{commonWords.general}}</b></a></td>
                        <td>
                            <a href="" class="btn btn-default btn-sm" ui-sref="dvr.config_general"><i class="fa fa-pencil fa-sm"></i></a>
                        </td>
                    </tr>
				</tbody>
			</table>
		</div>
        <a href="" class="btn btn-info" ng-click="saveConfig()"><i class="fa fa-save"></i> Save Config</a>
		<div class="container panel-3d" ui-view></div>
	</div>
</div>
