<div class="container">
	<h4 class="dash-title">{{title}}</h4>
    <div class="row">
        <div class="quick-tips col-md-12 panel-3d">
            <div>
                <ul>
                    <li ng-repeat="item in quickTips" ui-sref-active="active" ng-click="goTo(item.target)">
                        <a ui-sref="{{item.target}}" class="text-uppercase">{{item.title}}</a>
                    </li>
                </ul>
            </div>
            <div>
                <div ui-view></div>
            </div>
        </div>
    </div>
    <div class="row previews" sortable>
        <div ng-if="!pc" class="text-center">
            <img src="images/loading.gif" style="width: 350px;">
        </div>
        <div class="col-md-3 graph" ng-if="pc" ng-repeat="drive in pc.drives | nonEmpty">
            <div class="panel panel-default" ng-init="pp=getPerc(drive.freeSpace, drive.size)">
                <div class="panel-heading">
                    <b>{{drive.name}} {{drive.volumeName}}</b>
                </div>
                <div class="panel-body">
                    <div class="pie-wrapper progress-{{pp}}">
                        <span class="label">{{pp}}<span class="smaller">%</span></span>
                        <div class="pie">
                            <div class="left-side half-circle"></div>
                            <div class="right-side half-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 graph" ng-if="pc">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{{commonWords.memory_usaged}}</b>
                </div>
                <div class="panel-body">
                    <div class="pie-wrapper progress-{{getPerc(pc.memory.free, pc.memory.total)}} style-2">
                        <span class="label">{{getPerc(pc.memory.free, pc.memory.total)}}<span class="smaller">%</span></span>
                        <div class="pie">
                            <div class="left-side half-circle"></div>
                            <div class="right-side half-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 graph" ng-if="pc">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{{commonWords.cpu_load}}</b>
                </div>
                <div class="panel-body">
                    <div class="pie-wrapper progress-{{pc.cpu.loadPercentage}} style-2">
                        <span class="label">{{pc.cpu.loadPercentage}}<span class="smaller">%</span></span>
                        <div class="pie">
                            <div class="left-side half-circle"></div>
                            <div class="right-side half-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 graph" ng-if="pc">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{{commonWords.pc_info}}</b>
                </div>
                <div class="panel-body padd-0">
                    <table class="table table-striped fx-lt">
                        <tbody>
                            <tr>
                                <td><b>{{commonWords.hostname}}:</b></td>
                                <td class="wap-td">{{pc.hostname.name}}</td>
                            </tr>
                            <tr ng-if="pc.publicIP">
                                <td><b>{{commonWords.ip}}:</b></td>
                                <td class="wap-td">{{pc.publicIP}}</td>
                            </tr>
                            <tr>
                                <td><b>{{commonWords.uptime}}:</b></td>
                                <td class="wap-td">{{getUptime(pc)}} / {{commonWords.hours}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3 graph" ng-if="pc">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{{commonWords.mac_address}}</b>
                </div>
                <div class="panel-body">
                    <p ng-repeat="mac in pc.mac">
                        <b>{{mac.manufacturer}}</b><br/>
                        <i>{{mac.macAddress}}</i>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 graph" ng-if="pc">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{{commonWords.users}}</b>
                </div>
                <div class="panel-body">
                    <p ng-repeat="user in pc.users">
                        <b>{{user.domain}}</b><br/>
                        <i>{{user.name}}</i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
