<div class="container">
    <h2 class="tips-title" ng-if="quickTips[2].sub_title">{{quickTips[2].sub_title}}</h2>
    <ul class="list-unstyled news">
        <li ng-repeat="item in quickTips[2].docs">
            <span>{{$index+1}}</span> <a href="" ng-click="openDocs(item)">{{item.name}}</a>
        </li>
    </ul>
</div>
