<div class="container">
    <h2 class="tips-title" ng-if="quickTips[0].sub_title">{{quickTips[0].sub_title}}</h2>
    <ul class="list-unstyled tips">
        <li ng-repeat="item in quickTips[0].docs">
           <span>{{$index+1}}</span> <a href="" ng-click="openDocs(item)">{{item.name}}</a>
        </li>
    </ul>
</div>
