<div class="container">
    <div class="page-header">
        <h1>{{contentList.title}} <small>{{contentList.sub_title}}</small></h1>
    </div>
    <div class="row">
        <form class="form-horizontal" name="sp_form" ng-submit="sendRequest(sp_form)">
            <div class="form-group">
                <label for="nameFm" class="col-sm-2 control-label">{{commonWords.name}}</label>
                <div class="col-sm-9">
                    <input type="text" ng-model="sp_form.name" class="form-control" id="nameFm" placeholder="Name" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="passFm" class="col-sm-2 control-label">{{commonWords.company}}</label>
                <div class="col-sm-9">
                    <input type="text" ng-model="sp_form.company" class="form-control" id="passFm" placeholder="{{commonWords.company}}">
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label for="promblemFm" class="col-sm-2 control-label">{{commonWords.problem}}</label>
                    <div class="col-sm-9">
                        <textarea  ng-model="sp_form.problem" id="promblemFm" class="form-control" rows="8" required="required"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-disabled="!pc" type="submit" class="btn btn-danger">{{commonWords.send_request}}</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                </div>
            </div>
        </form>
    </div>
    <div class="alert alert-success alert-dismissible" role="alert" ng-if="requestSent">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="dismissMessage()"><span aria-hidden="true">&times;</span></button>
        <strong>Good news!</strong> Your request have been sent.
    </div>
    <div class="alert alert-danger alert-dismissible" role="alert" ng-if="requestError">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="dismissMessage()"><span aria-hidden="true">&times;</span></button>
        <strong>Sorry!</strong> Unable to submit your request at this time.
    </div>
    <div class="row hide">
        <div class="col-md-10 col-md-offset-1">
            <table class="table">
                <tr>
                    <td>{{commonWords.hostname}}</td>
                    <td>{{pc.hostname.name}}</td>
                </tr>
                <tr>
                    <td>{{commonWords.ip}}</td>
                    <td>{{pc.publicIP}}</td>
                </tr>
                <tr>
                    <td>{{commonWords.memory_usaged}}</td>
                    <td>{{getPerc(pc.memory.free, pc.memory.total)}}%</td>
                </tr>
                <tr>
                    <td>{{commonWords.cpu_load}}</td>
                    <td>{{pc.cpu.loadPercentage}}%</td>
                </tr>
                <tr>
                    <td>{{commonWords.mac_address}}</td>
                    <td>
                        <p ng-repeat="mac in pc.mac">
                            {{mac.macAddress}}
                        </p>
                    </td>

                </tr>
                <tr>
                    <td>{{commonWords.uptime}}</td>
                    <td>{{getUptime(pc)}} / {{commonWords.hours}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
