<ul class="nav">
<li ng-repeat="item in sidebar" ui-sref-active="active">
	<a ui-sref="{{item.target}}" ng-if="item.internal">
		<i class="{{item.icon}}"></i> {{item.title}}
	</a>
    <a href="" ng-click="openSite(item.target)" ng-if="!item.internal">
        <i class="{{item.icon}}"></i> {{item.title}}
    </a>
</li>
</ul>
